In [1]:
import pandas
import configparser
import psycopg2

In [16]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config ['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [17]:
con = psycopg2.connect(
        host = host,
        user=user,
        password=pwd,
        dbname=db)

In [18]:
sql="""select*from student"""

In [19]:
df=pandas.read_sql_query(sql,con)

df[:]

/tmp/ipykernel_21875/1769558410.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pandas.read_sql_query(sql,con)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT

In [21]:
cur =con.cursor()

In [26]:
sql="""insert into student('s_email','s_name','major')
values('{}','{}','{}')
""".format('s5@jmu.edu','s3','IA')
print(sql)

insert into student('s_email','s_name','major')
values('s5@jmu.edu','s3','IA')

In [24]:
cur.execute(sql)

SyntaxError: syntax error at or near "'s_email'"
LINE 1: insert into student('s_email','s_name','major')
                            ^

In [25]:
con.rollback()

In [ ]:
cur